.container-footer {

    background-color: #2c0421;
    width: 100%;
    padding: 6px;
    margin-top: 20px;
    border-top: 3px solid #971622;
    box-shadow: 0px 0px 30px 10px #2c0421b4;
}

.serverStatusBadge {
    border-radius: 9999px;
    border: 3px solid grey; 
    background-color: rgb(231, 230, 230);

    min-height: 30px;
    max-height: 30px;
    min-width: 140px;
    max-width: 200px;

    padding: 4px 6px 4px 6px;
    margin: 6px 12px;
}

.container-footer > p {
    color: #a94e5b;
}

.statusText {
    font-family: Arial, Helvetica, sans-serif;
}