@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

textarea {
    margin: 0px 32px;
    background-color: #aaa0a7;
}

.container-admin-quetes {
  font-family: "Cinzel Decorative", serif; 
}

.quetes-modif-list {
    display: grid;
    grid-template-columns: 110px minmax(0,1fr) 90px;
    align-items: center;
    gap: 8px;
    padding: 10px 8px;
    box-shadow:
        inset 0 4px 24px -20px #2c0421b4,
        inset 0 -4px 24px -4px #2c0421b4;
}